/* Write your global styles here, in PostCSS syntax */
/* Hiding these as skeleton  apparently does something blah blah blah */
/* https://www.skeleton.dev/docs/get-started */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
